<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crestron.SimplSharp.SDK.Library" version="2.21.226" targetFramework="net48" />
  <package id="Crestron.SimplSharp.SDK.Program" version="2.21.226" targetFramework="net48" />
  <package id="Crestron.SimplSharp.SDK.ProgramLibrary" version="2.21.226" targetFramework="net48" />
</packages>